In [1]:
import pandas as pd

In [10]:
df1=pd.read_csv("dublicates/masterresellrights_1to27.csv")
df1.head(1)
df1.shape

(270, 5)

(270, 5)

In [9]:
df2=pd.read_csv("dublicates/masterresellrights_28to100.csv")
df2.head(1)
df2.shape

(730, 5)

In [12]:
df3=pd.read_csv("dublicates/masterresellrights_101to200.csv")
df3.head(1)
df3.shape

(1000, 5)

In [13]:
df4=pd.read_csv("dublicates/masterresellrights_201to300.csv")
df4.head(1)
df4.shape

(1000, 5)

In [14]:
df5=pd.read_csv("dublicates/masterresellrights_301to437.csv")
df5.head(1)
df5.shape

(1370, 5)

In [16]:
df6=df1.append(df2)
df6.shape

(1000, 5)

In [17]:
df7=df6.append(df3)
df7.shape

(2000, 5)

In [19]:
df8=df7.append(df4)
df8.shape

(3000, 5)

In [20]:
df9=df8.append(df5)
df9.shape

(4370, 5)

In [21]:
df9.head(1)

,Unnamed: 0,Product Title,Overview,Product Url,Img Url
0,0,The 7 Secrets Of Greatness,Discover The 7 Secrets To Stepping Into Your G...,http://www.masterresellrights.com/products/mas...,http://www.masterresellrights.com/pub/images/p...

In [22]:
df10=df9.drop('Unnamed: 0', axis=1)
df10.head(1)

,Product Title,Overview,Product Url,Img Url
0,The 7 Secrets Of Greatness,Discover The 7 Secrets To Stepping Into Your G...,http://www.masterresellrights.com/products/mas...,http://www.masterresellrights.com/pub/images/p...

In [23]:
df10.shape

(4370, 4)

In [25]:
df10_nodublicates=df10.drop_duplicates()
df10_nodublicates.shape

(4110, 4)

In [26]:
#csv with no dublicates
df11=df10_nodublicates.to_csv("dublicates/masterresellrights_1to437_nodublicates.csv")